@import "styles/styles";
@import "styles/breakpoints";

.menu {
  &__filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}